.MenuTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.MenuIcon {
  color: var(--gray-11);
}

.MenuIcon:hover {
  color: var(--gray-12);
}

.Transparent {
  opacity: 0;
}

.MenuTrigger:hover .Transparent {
  opacity: 1;
}
