.RelatedObjectContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.RelatedObject.Selected {
  background-color: var(--teal-a2);
}

.RelatedObjectContent {
  display: flex;
  gap: 4px;
  align-items: start;
  position: relative;
  padding: 3px 6px 2px 0px;
  min-height: 32px;
}

.RelatedObjectContentPublic {
  color: inherit;
  /* Leaving this empty in case Jacob wants to add extra styles for the public content */
}

/* 
Left Area 
*/

.RelatedObjectLeftArea {
  position: absolute;
  height: 100%;
  width: 100px;
  right: 100%;
}

.RelatedObjectLeftHandler {
  display: flex;
  align-items: center;
  position: absolute;
  right: 100%;
  top: 8px;
}

.RelatedObjectActions {
  display: flex;
  align-items: center;
  gap: 1px;
}

/* 
Bullet
*/

.RelatedObjectBulletContainer {
  position: relative;
  display: flex;
  width: 16px;
  height: 16px;
  top: 4px;
}

.RelatedObjectBulletContainer.Hidden {
  display: none;
}

.Bullet {
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  z-index: 10;
}

.BulletShadow {
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  z-index: 0;
}

.DotOutsidePublic {
  stroke: var(--teal-5);
  width: 16px;
  height: 16px;
}

.DotOutsidePrivate {
  stroke: var(--gray-5);
}

.DotInsidePrivate {
  stroke: var(--gray-11);
}
.DotInsidePublic {
  stroke: var(--teal-10);
}

.Circle {
  cursor: pointer;
  position: absolute;
  top: 4px;
  stroke: var(--teal-10);
}

.CirclePrivate {
  stroke: var(--gray-10);
}

/* 
Node
*/

.RelatedObjectNode {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  align-items: center;
  position: relative;
  width: 100%;
  color: var(--gray-12);
}

.RelatedObjectNodeContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 4px;
  align-items: baseline;
}

.HoverCardTrigger {
  flex: 1 1 0%;
}

.RelationHoverCard {
  background-color: var(--gray-1);
  padding: 4px 12px;
  border: 0.5px solid var(--gray-3);
  box-shadow: rgba(0, 0, 0, 0.067) 0px 3px 8px, rgba(0, 0, 0, 0.067) 0px 2px 5px, rgba(0, 0, 0, 0.067) 0px 1px 1px;
  border-radius: 4px;
  z-index: 50;
}

/* 
Right Area 
*/

.RelatedObjectRightArea {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-top: 4px;
}

/* Pin Icon of each bullet */
.PinIcon {
  position: relative;
  top: 0;
  padding: 0 0;
  transform: scale(0.8) translateY(-0.5px);
  color: var(--gray-6);
}

.PinIcon:hover {
  color: var(--tomato-6);
}

.RelatedObjectPublic {
  padding: 0 0;
  color: var(--teal-7);
  background-color: var(--gray-1);
}

.RelationCounter {
  position: relative;
  align-self: flex-start;
  width: 16px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--gray-3);
  color: var(--gray-9);
  font-size: 12px;
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: default;
}
