.DetailsContainer {
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: var(--font-size-mini);
  gap: 12px;
  max-width: 600px;
}

.DetailsContainer * {
  color: var(--gray-8);
}

.PathEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  display: inline-block;
}
