.Container {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  flex: 1 1 0%;
}

.ColumnContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.FlexContainer {
  display: flex;
  min-width: 64px;
}

.TextContent {
  font-style: italic;
  color: inherit;
}
