.ShowTooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: var(--gray-1);
  border: solid 0.5px var(--gray-6);
  z-index: 999;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: var(--font-size-mini);
  color: var(--gray-11);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  box-shadow: var(--shadow-sm);
  user-select: none;
}

.ShowTooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.ShowTooltip.ToLeftAlign::after {
 left: -8px;
  transform: translateX(50%);
}