.EditorWrapper {
  position: relative;
  width: 100%;
  flex: 1;
  --descendant-content: "";
}

.EditorWrapper.showAtSignPrefix {
  --descendant-content: "@";
}

.MentionNode {
  border-radius: 4px;
  padding: 0 2px;
  background-color: var(--teal-a3);

  color: var(--teal-11);
  cursor: pointer;
}

.MentionNode::before {
  content: var(--descendant-content);
}

.EditorWrapper p {
  margin: 0;
  text-decoration: none;
}