.EditorWrapper {
  position: relative;
  width: 100%;
  flex: 1;
  --descendant-content: "";
}

.EditorWrapper.showAtSignPrefix {
  --descendant-content: "@";
}

.MentionNode {
  color: "#0b0b79";
  text-decoration: underline var(--gray-3);
  color: var(--teal-11);
  cursor: pointer;
}

.MentionNode::before {
  content: var(--descendant-content);
}

.EditorWrapper p {
  margin: 0;
  text-decoration: none;
}

.ContentEditable {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
