.ControlsBar {
  padding: 0 8px 0 40px;
  height: 40px;
  border-bottom: 0.5px solid var(--gray-6);
  display: flex;
  width: 100%;
  gap: 6px;
  align-items: center;
  background-color: var(--gray-1);
  justify-content: space-between;
}

.FiltersDropdown {
  height: 24px;
}

.SortOptionDropdown {
  height: 24px;
}

.ControlsBarWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.Icon {
  color: var(--gray-10);
  transform: scale(0.8);
  flex-shrink: 0;
}

.RightWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.ShowTooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: var(--gray-1);
  border: solid 0.5px var(--gray-6);
  z-index: 999;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: var(--font-size-mini);
  color: var(--gray-11);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  box-shadow: var(--shadow-sm);
  user-select: none;
  pointer-events: none;
}

.ShowTooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.ShowTooltip.BottomAlign::after {
  bottom: 6px;
  transform: translateY(calc(100% + 2px));
}

.PopoverHeader {
  padding: 8px;
  height: 32px;
  color: var(--gray-8);
  font-size: var(--font-size-xs);
  font-weight: 500;
}

.PopoverButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 4;
}

.PopoverButton {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 36px;
}

.SwitchItem {
  display: flex;
  justify-content: space-between;
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px;
  height: 32px;
  border-radius: 4px;
  cursor: default;
  font-size: var(--font-size-sm);
  color: var(--gray-11);
}

.SwitchItem:hover {
  color: var(--teal-10);
}

.SwitchItem label {
  cursor: default;
}

/* Button container for grouped action buttons */
.ButtonContainer {
  display: flex;
  gap: 4px;
}

@media (max-width: 800px) {
  .ControlsBar {
    padding: 8px 8px;
    height: fit-content;
    gap: 8px;
    align-items: start;
  }

  /* Hide elements with this class on mobile screens */
  .HideOnMobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .ControlsBar {
    border-top: none;
    border-bottom: none;
    box-shadow: 0px 2px 4px -1px var(--teal-1);
  }
}

.TextInput > input {
  outline: 0;
  border: 0;
  font-family: monospace;
  border-radius: 6px;
  max-height: 24px;
  box-sizing: border-box;
}

.DisabledInput {
  opacity: 0.6;
  background-color: var(--gray-3);
  cursor: not-allowed;
}

.shortUrlContainer {
  margin-top: 8px;
  border-top: 1px solid var(--gray-5);
  padding-top: 12px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}

.shortUrlLabel {
  color: var(--gray-11);
  font-size: var(--font-size-sm);
  margin-right: 16px;
  flex-shrink: 0;
}

.shortUrlInputContainer {
  position: relative;
  display: flex;
  border: 1px solid var(--gray-6);
  border-radius: 6px;
  height: 28px;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  background-color: var(--white-lighter);
  transition: border-color 300ms ease;
}

.shortUrlInputContainer:focus-within {
  border-color: var(--gray-9);
}

.shortUrlInput {
  outline: 0;
  border: 0;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  padding: 0 36px 0 8px;
  font-size: calc(var(--font-size-mini) + 1px);
  color: var(--gray-11);
  width: 100%;
  background-color: transparent;
}

.shortUrlCopyButton {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: var(--gray-9);
  background-color: transparent;
  cursor: pointer;
  border-radius: 6px;
  z-index: 2;
}

.shortUrlCopyButton:hover {
  color: var(--gray-12);
  background-color: var(--gray-3);
}

.shortUrlCopyButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.shortUrlSaveButton {
  background-color: transparent;
  color: var(--gray-9);
  border: none;
  border-radius: 6px;
  padding: 0 8px;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 400;
  height: 28px;
  margin-left: 6px;
}

.shortUrlSaveButton:hover {
  color: var(--gray-12);
  background-color: var(--gray-3);
}

.shortUrlSaveButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.shortUrlSaveButton:disabled:hover {
  background-color: transparent;
}
