.OutlineView {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px 8px 8px 0;
  border: 0.5px solid var(--gray-6);
  border-radius: 6px;
  padding-bottom: 72px;
  min-height: calc(100vh - 16px);
  background-color: var(--gray-1);
}

.OutlineViewFull {
  margin: 8px;
}

.OutlineContent {
  display: flex;
  flex-direction: column;
}

.WindowNav {
  position: sticky;
  border-radius: 8px;
  top: 0;
  left: 0;
  z-index: 20;
}

.HeadingContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 36px 52px 4px 48px;
  color: var(--gray-12);
  gap: 8px;
}

.TitleContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 3px;
}

.TitleText {
  font-size: var(--font-size-h2);
  font-weight: 400;
  user-select: none;
}

.Nodes {
  padding: 0 52px;
}

@media only screen and (max-width: 600px) {
  .OutlineContainer {
    margin-left: 0;
    margin-top: 36px;
  }

  .TitleContainer {
    padding: 0 13px;
  }
}
