.WindowNav {
  position: sticky;
  height: 88px;
  top: 0;
  z-index: 20;
  overscroll-behavior: none;
}

.HeadingContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 36px 52px 4px 40px;
  color: var(--gray-12);
  gap: 8px;
  position: relative;
}

.TitleContainer {
  display: flex;
  align-items: baseline;
  width: 100%;
  gap: 8px;
  padding-left: 2.5px;
  margin-left: -24px;
}

.TitleContainer > :first-child {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.HeadingContainer:hover .TitleContainer > :first-child {
  opacity: 1;
}

.IconAndTitle {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.TooltipContent {
  color: var(--gray-10);
  font-size: var(--font-size-mini);
}

.TitleText {
  font-size: var(--font-size-h2);
  font-weight: 400;
  user-select: none;
  width: 100%;
  letter-spacing: -0.02em;
}

.Nodes {
  padding: 0 44px;
}

@media (min-width: 1200px) {
  .HeadingContainer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  .Nodes {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .OutlineContent {
    height: calc(100dvh - 130px);
  }

  .HeadingContainer {
    padding: 24px 0 0 18px;
  }

  .WindowNav {
    height: 122px;
  }

  .Nodes {
    padding: 0 18px 0 48px;
  }
}

.TitleContainer:hover .Transparent {
  opacity: 1;
}

.NoteContentSection {
  width: 100%;
  flex: 1;
  margin-left: -5px;
  padding: 4px 8px;
  border: 0.5px solid var(--gray-7);
  border-radius: 4px;
}

.LinkButton {
  background-color: transparent;
}

.LinkButton:hover {
  background-color: var(--gray-3);
}

.EmptySpaceClickArea {
  flex: 1;
  min-height: 100px;
}

.MainAndSidebarContainer {
  display: flex;
}

.MainAndSidebarContainer > [class*="ContentContainer"] {
  flex-grow: 1;
}
