.StreamContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px 8px 8px 0;
  border: 0.5px solid var(--gray-6);
  border-radius: 6px;
  padding-bottom: 72px;
  min-height: calc(100vh - 16px);
  background-color: var(--gray-1);
}
