@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  --header-height: 56px;

  background-color: var(--color-bg-primary);

  --highlight-font-weight: normal;
  --transparent: #ffffff00;

  --color-text-strong: #1e1e1e;
  --color-text-primary: #343737;
  --color-text-secondary: #737777;
  --color-text-tertiary: #abaeae;
  --color-text-accent: #118b96;
  --color-text-positive: #1e6a1a;
  --color-text-negative: #a91818;
  --color-text-searchHighlight: #452610;

  --color-button-text: #fff;
  --color-button-bg: #118b96;
  --color-button-bg-secondary: #17c2d1;
  --color-button-bg-recording: #ff5449;

  --color-bg-primary: #fff;
  --color-bg-secondary: #eff2f2;
  --color-bg-tertiary: #eaeded;
  --color-bg-sub: var(--color-bg-secondary);
  --color-bg-shadowed: #dddddd;
  --color-bg-elevated: var(--color-bg-primary);
  --color-bg-public: #f9eae3;

  --color-bg-audio-insert: #8acad1;
  --color-waveform-visualizer: #6d6d6d;

  --color-bg-accent-primary: #00a0ad;
  --color-bg-accent-secondary: #00a0ad60;
  --color-bg-accent-tertiary: #00a0ad35;
  --color-bg-accent-quaternary: #00a0ad10;

  --color-bg-positive-primary: #7fdb72;
  --color-bg-positive-secondary: #7fdb7250;
  --color-bg-positive-tertiary: #7fdb7215;

  --color-bg-negative-primary: #ff7a7a;
  --color-bg-negative-secondary: #ff7a7a50;
  --color-bg-negative-tertiary: #ff7a7a15;

  --color-bg-ok: rgb(0, 158, 29);
  --color-bg-offline: #ffd580;
  --color-bg-warning: #ff5733;
  --color-bg-error: red;

  --color-border-primary: #0b233924;
  --color-border-secondary: #00000015;
  --color-border-secondary-solid: #e8e9ea;

  --color-border-alert: #fac584;

  --color-bg-highlight: #ffde5c;

  --shadow-light: 0px 1px 5px -1px rgba(0, 0, 0, 0.14);
  --shadow-medium: 0px 2px 10px -3px rgba(0, 0, 0, 0.16);
  --shadow-heavy: 0px 4px 16px -4px rgba(0, 0, 0, 0.22);

  --transition-light: 0.06s cubic-bezier(0.4, 0, 0.2, 1) all;
  --transition-medium: 0.1s cubic-bezier(0.4, 0, 0.2, 1) all;
  --transition-heavy: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;

  --radius-small: 0.125rem;
  --radius-medium: 0.25rem;
  --radius-large: 0.325rem;

  --checkbox-enlarge: 1.1;
  --checkbox-shrink: 0.9;
}

body[data-theme="dark"] {
  --color-text-strong: #f7f7f7;
  --color-text-primary: rgba(255, 255, 255, 0.96);
  --color-text-secondary: rgba(255, 255, 255, 0.62);
  --color-text-tertiary: rgba(255, 255, 255, 0.44);
  --color-text-accent: #5dcfdb;
  --color-text-positive: #7fdb72;
  --color-text-negative: #ffb4a9;
  --color-text-searchHighlight: #fff50d;

  --color-button-text: #303030;
  --color-button-bg: #20bdcb;
  --color-button-bg-secondary: #80f4ff;
  --color-button-bg-recording: #ff5449;

  --color-bg-primary: #303030;
  --color-bg-secondary: #424242;
  --color-bg-tertiary: #363636;
  --color-bg-sub: #292929;
  --color-bg-shadowed: #343434;
  --color-bg-elevated: var(--color-bg-secondary);
  --color-bg-public: #544f4d;
  --color-bg-audio-insert: #225e66;
  --color-waveform-visualizer: #cecece;

  --color-bg-accent-primary: #20bdcb;
  --color-bg-accent-secondary: #20bdcb60;
  --color-bg-accent-tertiary: #20bdcb30;
  --color-bg-accent-quaternary: #20bdcb15;

  --color-bg-positive-primary: #65bf5a;
  --color-bg-positive-secondary: #65bf5a45;
  --color-bg-positive-tertiary: #65bf5a17;

  --color-bg-negative-primary: #ff5449;
  --color-bg-negative-secondary: #ff544950;
  --color-bg-negative-tertiary: #ff544917;

  --color-border-primary: #ffffff30;
  --color-border-secondary: #ffffff15;
  --color-border-secondary-solid: #474849;

  --color-bg-highlight: #6f5819;

  --transparent: #31313100;

  /*
   * This variable is toggled by a hook that runs when the userSettingsAtom
   * has a change, specifically the `showTodoStrikethrough` property. If it's true
   * we set this variable to have `line-through` else it remains `none`.
   */
  --todo-strikethrough: none;

  letter-spacing: 0.007em;
}

button {
  cursor: pointer;
  color: var(--color-button-text);
  font-size: 16px;
  border-radius: 4px;
  background: var(--color-button-bg);
  border: 0;
  padding: 4px 6px;
  display: block;
  transition-duration: 0.1s;
}
