@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/mint.css";
@import "@radix-ui/colors/mint-dark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";

html,
body,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--gray-1);
}

:root,
.light,
.light-theme {
  --teal-1: #f6fafb;
  --teal-2: #eef7f8;
  --teal-3: #d9f4f7;
  --teal-4: #c4eef3;
  --teal-5: #aee5ec;
  --teal-6: #95dae3;
  --teal-7: #72cbd6;
  --teal-8: #25b6c5;
  --teal-9: #1bb1c0;
  --teal-10: #00a5b4;
  --teal-11: #007b88;
  --teal-12: #023d44;

  --teal-a1: #22b4d807;
  --teal-a2: #0ea7b80f;
  --teal-a3: #05c4d924;
  --teal-a4: #02bed439;
  --teal-a5: #01b2c94f;
  --teal-a6: #02aac069;
  --teal-a7: #00a3b78c;
  --teal-a8: #00aabbda;
  --teal-a9: #00a8b9e4;
  --teal-a10: #00a5b4;
  --teal-a11: #007b88;
  --teal-a12: #003b43fd;

  --teal-contrast: #fff;
  --teal-surface: #ebf6f8cc;
  --teal-indicator: #1bb1c0;
  --teal-track: #1bb1c0;

  --gray-1: #f6fafa;
  --gray-2: #f2f6f6;
  --gray-3: #e8eded;
  --gray-4: #e0e5e5;
  --gray-5: #d8dede;
  --gray-6: #d0d6d6;
  --gray-7: #c5cbcb;
  --gray-8: #b1b8b8;
  --gray-9: #7f8b8b;
  --gray-10: #758181;
  --gray-11: #596262;
  --gray-12: #162223;

  --gray-a1: #22b4b407;
  --gray-a2: #1571710b;
  --gray-a3: #0a464615;
  --gray-a4: #0632321d;
  --gray-a5: #042e2e25;
  --gray-a6: #0224242d;
  --gray-a7: #021d1d38;
  --gray-a8: #0118184c;
  --gray-a9: #021a1a7f;
  --gray-a10: #00171789;
  --gray-a11: #000e0ea5;
  --gray-a12: #000d0ee9;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #7f8b8b;
  --gray-track: #7f8b8b;
}

/* Dark mode */
.dark,
.dark-theme {
  --teal-1: #131e20;
  --teal-2: #172324;
  --teal-3: #0f3337;
  --teal-4: #003f45;
  --teal-5: #004b52;
  --teal-6: #085860;
  --teal-7: #126a73;
  --teal-8: #10828d;
  --teal-9: #1bb1c0;
  --teal-10: #00a5b4;
  --teal-11: #49cedd;
  --teal-12: #b4edf4;

  --teal-a1: #0083e905;
  --teal-a2: #00e3ff09;
  --teal-a3: #00d9fa1f;
  --teal-a4: #00dafb2f;
  --teal-a5: #00e1fe3d;
  --teal-a6: #00e2fd4d;
  --teal-a7: #02e7ff62;
  --teal-a8: #04e9ff7f;
  --teal-a9: #1be9feb9;
  --teal-a10: #00e9ffab;
  --teal-a11: #51edffd9;
  --teal-a12: #bcf8fff3;

  --teal-contrast: #fff;
  --teal-surface: #132a2c80;
  --teal-indicator: #1bb1c0;
  --teal-track: #1bb1c0;

  --gray-1: #1a1d1d;
  --gray-2: #212424;
  --gray-3: #292c2c;
  --gray-4: #2e3333;
  --gray-5: #333939;
  --gray-6: #3b4141;
  --gray-7: #464e4e;
  --gray-8: #5a6666;
  --gray-9: #667373;
  --gray-10: #737f7f;
  --gray-11: #acb7b7;
  --gray-12: #ecefef;

  --gray-a1: #009c9c02;
  --gray-a2: #aaffff09;
  --gray-a3: #d5ffff12;
  --gray-a4: #cdfefe1a;
  --gray-a5: #cefdfd21;
  --gray-a6: #d9fdfd2a;
  --gray-a7: #d8fcfc39;
  --gray-a8: #d9fdfd54;
  --gray-a9: #ddffff62;
  --gray-a10: #e2fdfd70;
  --gray-a11: #eefefeaf;
  --gray-a12: #fbfefeee;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #667373;
  --gray-track: #667373;
}
