.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 6px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  transition: background-color 0.15s, color 0.15s;
  outline: none;
  width: fit-content;
  cursor: default;
}

.Disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Variants */
.default {
  background-color: var(--gray-3);
  color: var(--gray-11);
}

.default:hover {
  background-color: var(--gray-4);
  color: var(--gray-12);
}

/* Pressed state for buttons with open menus */
.default.pressed {
  background-color: var(--gray-5);
  color: var(--gray-12);
}

.destructive {
  background-color: var(--tomato-9);
  color: var(--tomato-1);
}

.destructive:hover {
  background-color: var(--tomato-10);
}

.outline {
  border: 1px solid var(--gray-7);
  background-color: transparent;
  color: var(--gray-11);
}

.outline:hover {
  background-color: var(--gray-3);
  border: 1px solid var(--gray-8);
  color: var(--gray-12);
}

.active {
  background-color: var(--teal-3);
  color: var(--teal-11);
}

.active:hover {
  background-color: var(--teal-4);
  color: var(--teal-11);
}

.accent {
  background-color: var(--teal-9);
  color: var(--teal-2);
}

.accent:hover {
  background-color: var(--teal-10);
  color: var(--teal-1);
}

.ghost {
  color: var(--gray-11);
}

.ghost:hover {
  color: var(--teal-11);
}

.ghostSmooth {
  color: var(--gray-8);
}

.ghostSmooth:hover {
  color: var(--gray-11);
}

.ghostActive {
  color: var(--teal-8);
}

.ghostActive:hover {
  color: var(--teal-9);
}

.link {
  color: var(--teal-9);
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

/* Sizes */
.size-default {
  gap: 6px;
  height: 28px;
  padding: 0 8px;
  font-size: var(--font-size-sm);
}

.size-xs {
  gap: 6px;
  height: 20px;
  padding: 0 6px;
  font-size: var(--font-size-mini);
}

.size-xs span {
  padding-top: 1px;
}

.size-sm {
  gap: 8px;
  height: 24px;
  padding: 0px 8px 0 8px;
  font-size: var(--font-size-mini);
}

.size-sm span {
  padding-top: 1px;
}

.size-lg {
  gap: 4px;
  height: 32px;
  padding: 0 12px;
  border-radius: 6px;
}

.size-icon {
  aspect-ratio: 1 / 1;
  width: 24px;
}

.size-state {
  width: 24px;
  height: 24px;
  background-color: var(--gray-2);
}

.Button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
