.DropdownMenuContent {
  min-width: 200px;
  max-width: 600px;
  background-color: var(--gray-1);
  border: solid 0.5px var(--gray-6);
  z-index: 50;
  list-style: none;
  padding: 4px;
  border-radius: 6px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  box-shadow: var(--shadow-lg);
}

.DropdownMenuContent[data-side="top"],
.DropdownMenuSubContent[data-side="top"] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"],
.DropdownMenuSubContent[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"],
.DropdownMenuSubContent[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"],
.DropdownMenuSubContent[data-side="left"] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: var(--font-size-sm);
  color: var(--gray-12);
  display: flex;
  gap: 8px;
  user-select: none;
  align-items: center;
  outline: none;
}
.DropdownMenuItem.Indented {
  padding-left: 24px;
}

.DropdownMenuItem:hover {
  background-color: var(--teal-2);
}

.DropdownMenuItem:focus {
  background-color: var(--teal-2);
  color: var(--teal-8);
  box-shadow: none;
}

.DropdownMenuItem:disabled {
  opacity: 50%;
}
.DropdownMenuItem[data-disabled] {
  opacity: 50%;
  cursor: default;
  background-color: transparent;
}
.DropdownMenuItem[data-highlighted] {
  color: var(--teal-11);
}

.DropdownMenuSeparator {
  margin: 4px -4px;
  height: 0.5px;
  background-color: var(--gray-4);
}

.DropdownMenuShortcut {
  margin-left: auto;
  font-size: var(--font-size-mini);
  letter-spacing: 0.1em;
  opacity: 0.6;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
