.LoaderContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-md);
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  color: var(--gray-10);
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.Beta {
  font-size: var(--font-size-xs);
  color: var(--gray-8);
  font-weight: 500;
  padding: 2px 4px;
  border-radius: 4px;
}

.Logo {
  position: relative;
  width: 48px;
  height: 48px;
  margin-bottom: 4px;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards, logoFade 2s ease-in-out infinite;
  mix-blend-mode: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logoFade {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}
