.BreadcrumbContainer {
  display: flex;
  padding-left: 12px;
  gap: 4px;
  color: var(--gray-8);
}

.BreadcrumbContainer > :first-child > :first-child {
  margin-right: 4px;
  transform: translateY(-1px);
}

.Breadcrumb {
  cursor: pointer;
  display: flex;
  gap: 2px;
  align-items: center;
  user-select: none;
}

.Breadcrumb:hover {
  color: var(--teal-8);
}
.BreadcrumbDropdownMenu {
  position: absolute;
  min-width: 200px;
  background-color: white;
  border: solid 1px var(--teal-4);
  z-index: 10;
  list-style: none;
  padding: 4px;
  border-radius: 4px;
}

.BreadcrumbMenuItem {
  padding: 4px 12px;
  border-radius: 2px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  color: var(--gray-12);
}

.BreadcrumbMenuItem:hover {
  background-color: var(--teal-2);
}
