.HashtagRow {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.PinButton {
  position: relative;
  color: var(--gray-8);
  margin-left: 2px;
  min-width: 26px;
  max-width: 26px;
  max-height: 26px;
  border-radius: 6px;
  background-color: transparent;
}

.PinButton:hover {
  background-color: var(--gray-3);
}

.PinButton.Pinned {
  color: var(--teal-8);
}

.PinButton.Unpinned:hover {
  color: var(--teal-9);
  background-color: var(--gray-3);
}

.PinButton.Pinned:hover {
  color: var(--tomato-9);
  background-color: var(--tomato-2);
}

.PinIcon {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scaleX(-1); /* Flip icon horizontally */
}
