.Sidebar {
  position: fixed;
  z-index: 30;
  background-color: var(--gray-2);
  border-top: 1px solid var(--gray-4);
  height: 100%;
  max-height: -webkit-fill-available;
  /* For iOS */
  transition: transform 0.15s ease;
  transform: translateX(-100%);
}

.Open {
  transform: translateX(0);
}

@media (max-width: 450px) {
  .Sidebar {
    width: 80% !important;
    max-width: 300px;
  }

  .Resizer {
    display: none;
  }
}

.UnreadNotification {
  position: relative;
}

.UnreadNotification span {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  padding: 1px;
  box-sizing: content-box;
}

.Backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 29;
}

@media (max-width: 450px) {
  .Backdrop {
    display: block;
  }
}

.SidebarContent {
  display: flex;
  padding: 16px 12px 12px 12px;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
}

.SidebarContent.Resizing {
  pointer-events: none;
  user-select: none;
}

.SidebarSectionHeader {
  font-size: var(--font-size-xs);
  margin-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
  color: var(--gray-10);
  position: relative;
}

.Resizer {
  position: absolute;
  top: 8px;
  right: -8px;
  padding: 8px 2px;
  width: 16px;
  height: calc(100vh - 16px);
  cursor: col-resize;
  touch-action: none;
}

.ResizerHandle {
  width: 4px;
  height: 100%;
  border-radius: 2px;
  transition: background-color 0.2s ease;
}

.Resizer:hover .ResizerHandle {
  background-color: var(--gray-a3);
}

.Resizer:active .ResizerHandle {
  background-color: var(--teal-a4);
}

.Nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.Nav > button {
  cursor: pointer;
}

.TopContent {
  display: flex;
  gap: 2px;
  padding: 13px 0;
  flex-direction: column;
}

.LoginButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.LogOutButton {
  color: var(--tomato-10);
}

.LogOutButton:hover {
  color: var(--tomato-9);
  background-color: var(--tomato-2);
}

.LogInButton {
  color: var(--teal-12);
}

.LogInButton:hover {
  color: var(--teal-9);
  background-color: var(--teal-2);
}

.UserInfo {
  display: flex;
  flex-direction: column;
}

.BottomNav {
  display: flex;
  align-items: center;
  margin-top: auto;
  width: 100%;
  justify-content: space-between;
}

.BetaLabel {
  font-size: 12px;
  color: var(--gray-10);
  font-weight: bold;
  margin-right: 8px;
  cursor: help;
  position: relative;
}

.Button {
  width: 100% !important;
  text-align: left;
  padding: 8px 8px;
  justify-content: left;
  align-items: center;
  gap: 8px;
  color: var(--gray-12);
  font-style: normal;
  font-weight: 400;
  line-height: var(--font-size-mini);
}

.Button:hover {
  background-color: var(--gray-a2);
  color: var(--teal-11);
}

.Button.Selected {
  background-color: var(--gray-3);
  color: var(--teal-11);
}

.Button.Selected .ButtonIcon {
  color: var(--teal-11);
}

.ButtonText {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  display: block;
  height: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ShowTooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: var(--gray-1);
  border: solid 0.5px var(--gray-6);
  z-index: 999;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: var(--font-size-mini);
  color: var(--gray-11);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  box-shadow: var(--shadow-sm);
  user-select: none;
}

.ShowTooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.ShowTooltip.BottomAlign::after {
  transform: translateY(calc(100% + 2px));
}

.ShowTooltip.TopAlign::after {
  left: 8px;
  transform: translateY(-100%);
  height: 28px;
}

.ShowTooltip.RightAlign::after {
  right: 8px;
  transform: translateX(100%);
  height: 28px;
}

@media (max-width: 960px) {
  .Hidden {
    display: none;
  }
}

@media (max-width: 450px) {
  .Sidebar {
    width: 100% !important;
  }
}

.HelpIcon circle {
  stroke: inherit;
}
