/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/App.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.App {
  margin: 0 auto;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/editor/Editor.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Editor_EditorWrapper__JU0Bi {
  position: relative;
  width: 100%;
}

.Editor_EditorWrapper__JU0Bi p {
  margin: 0;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/BulletView/BulletView.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.BulletView_Bullet__Cq_lX {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.BulletView_indent__xCt49 {
  width: 30px;
}

.BulletView_bulletChar__K2Kr6 {
  flex-shrink: 0;
  width: 10px;
  margin-right: 10px;
  font-size: 1.5em;
}

.BulletView_bulletChar__K2Kr6:hover {
  cursor: pointer;
}

