.RightSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 99vh;
  height: 99vh;
  width: 100%;
  background: none;
  margin-top: 1px;
  overflow-y: auto;
}

.RightSidebar > [class*="ContentContainer"] {
  height: fit-content;
  min-height: fit-content;
  flex: 1;
  width: 100%;
  background: none !important;
  border-left: 0;
  border-radius: 0;
}

.RightSidebarContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.RightSidebar > [class*="ContentContainer"] > .HeadingContainer {
  padding: 18px 52px 4px 20px;
}

.Resizer {
  position: relative;
  top: 0;
  left: 0;
  width: 16px;
  height: calc(100vh - 16px);
  cursor: col-resize;
  touch-action: none;
  flex-shrink: 0;
}

.ResizerHandle {
  width: 4px;
  height: 100%;
  border-radius: 2px;
  transition: background-color 0.2s ease;
}

.Resizer:hover .ResizerHandle {
  background-color: var(--gray-a3);
}

.Resizer:active .ResizerHandle {
  background-color: var(--teal-a4);
}

.CloseIconContainer {
  display: flex;
  justify-content: start;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  opacity: 0.7;
  cursor: pointer;
  min-height: 30px;
}

.CloseIconContainer:hover {
  opacity: 1;
}

.CloseTreeButton {
  display: none;
  cursor: pointer;
  margin-left: auto;
  transition: opacity ease-in-out 10ms;
  z-index: 1;
}

.CloseTreeButton:hover {
  opacity: 0.8;
}

.RightSidebar .CloseTreeButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
