.RightSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 99vh;
  height:99vh;
  background: none;
  margin-top: 1px;
  max-width: 50vw;
  min-width: 50vw;
  width: 50vw;
  overflow-y: auto;
}

.RightSidebar > [class*="ContentContainer"]  {
  height: fit-content;
  min-height: fit-content;
  flex:1;
  width: 100%;
  background: none !important;
  border-left: 0;
  border-radius: 0;
}

.RightSidebar > [class*="ContentContainer"] > .HeadingContainer {
  padding: 18px 52px 4px 20px;
}

.CloseTreeButton {
  display: none;
  cursor: pointer;
  position: absolute;
  margin: 5px 6px;
  right: 0;
  transition: opacity ease-in-out 10ms;
  z-index: 1;
}

.CloseTreeButton:hover {
  opacity: 0.8;
}

.RightSidebar > [class*="ContentContainer"] > .CloseTreeButton {
  display: block;
}