.NodeIndentation {
  padding-left: 19px;
  margin-left: 7.5px;
  border-left: 1px solid;
  border-image: linear-gradient(to bottom, var(--gray-6) 80%, var(--gray-1) 100%) 1 100%;
}

/* Pinned Toggle */

.PinnedToggleButton {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 2px;
  position: relative;
  top: 0;
  left: -4px;
  width: fit-content;
  padding: 4px;
  border-radius: 6px;
  color: var(--gray-9);
  z-index: 10;
}

.PinnedToggleButton_PinnedVisible {
  margin-bottom: 0;
}

.PinnedToggleButton_PinnedVisible:hover {
  background-color: var(--gray-2);
}

.PinnedToggleButton_PinnedHidden {
  margin-bottom: 0;
}

.PinnedToggleButton_PinnedHidden:hover {
  background-color: var(--gray-2);
}

.PinIcon {
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.PinIcon_PinnedVisible {
  transform: scale(0.8) rotate(45deg);
  color: var(--teal-9);
}

.PinIcon_PinnedHidden {
  color: var(--gray-9);
}

/* Pin Section */

.PinSection {
  padding-top: 0px;
  margin: 0 0 6px 0;
}

.PinSectionSeparator {
  border-bottom: 0.5px solid var(--teal-7);
}

.StreamSpacing {
  margin-left: 0;
  margin-bottom: -11px;
  padding-bottom: 16px;
}

.DefaultSpacing {
  margin-left: 6px;
  padding-bottom: 6px;
}

/* Stream Bundle */

.BundleSeparator {
  border-top: 1px dashed var(--gray-5);
}

.FirstBundle {
  margin-top: 8px;
  padding-top: 8px;
  border: none;
}

.FirstBundle_NoDate {
  margin-bottom: 8px;
}

.FirstBundle_WithDate {
  padding-bottom: 16px;
}

.DefaultBundle {
  margin-top: 16px;
  margin-bottom: 16px;
}

.DateLabel {
  position: relative;
  transform: translateY(-32px) translateX(-50%);
  width: fit-content;
  left: 50%;
  color: var(--gray-8);
  font-size: var(--font-size-mini);
  z-index: 1;
  height: 0;
}

.DateLabelContent {
  background-color: var(--gray-1);
  padding-left: 4px;
  padding-right: 4px;
}

/* ShowAll Button */

.ShowAll {
  color: var(--teal-9);
  font-size: var(--font-size-sm);
  width: fit-content;
  margin: 12px 0 0 6px;
  padding: 2px 6px;
  border-radius: 6px;
  background-color: var(--gray-2);
}

.ShowAll:hover {
  background-color: var(--gray-1);
}
