.NodeIndentation {
  padding-left: 19px;
  margin-left: 7.5px;
  border-left: 1px solid;
  border-image: linear-gradient(to bottom, var(--gray-6) 80%, var(--gray-1) 100%) 1 100%;
}

/* Pinned Toggle */
.TopHeader {
  position: relative;
  left: -5px;
  display: flex;
  align-items: center;
}

.TopHeaderRoot {
  padding: 4px 0;
}

.PinnedHeader {
  position: relative;
  left: -6px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 4px 0px;
}

.AddPinButton {
  visibility: hidden;
  transition: visibility 0.2s ease-in-out;
}

.TopHeader:hover .AddPinButton,
.PinnedHeader:hover .AddPinButton {
  visibility: visible;
}

.PinIcon {
  transform: scale(0.7) translateY(1px);
  transition: transform 0.3s ease;
}

.PinIcon_PinnedVisible {
  transform: scale(0.7) rotate(45deg);
}

.PinnedCount {
  width: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-micro);
  padding-top: 0px !important;
}

/* Pin Section */
.PinSectionSeparator {
  border-bottom: 2px solid var(--teal-7);
  margin-bottom: 8px;
}

.StreamSpacing {
  margin-left: 0;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.DefaultSpacing {
  margin-left: 4px;
  padding-bottom: 6px;
}

.NoteSeparator {
  border-top: 1px dashed var(--gray-5);
}

.FirstNote {
  margin-top: 8px;
  padding-top: 8px;
  border: none;
}

.DefaultNote {
  margin-top: 16px;
  margin-bottom: 16px;
}

.DateLabel {
  position: relative;
  transform: translateY(-32px) translateX(-50%);
  width: fit-content;
  left: 50%;
  color: var(--gray-8);
  font-size: var(--font-size-mini);
  z-index: 1;
  height: 0;
}

.DateLabelContent {
  background-color: var(--gray-1);
  padding-left: 4px;
  padding-right: 4px;
}

/* ShowAll Button */

.ShowAll {
  color: var(--teal-9);
  font-size: var(--font-size-sm);
  width: fit-content;
  margin: 12px 0 0 6px;
  padding: 2px 6px;
  border-radius: 6px;
  background-color: var(--gray-2);
}

.ShowAll:hover {
  background-color: var(--gray-1);
}
