.MenuTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.MenuIcon {
  color: var(--gray-11);
  background-color: var(--gray-1);
  border-radius: 4px;
  transition: opacity 0.15s ease-in-out;
}

.MenuIcon:hover {
  color: var(--gray-12);
  background-color: var(--gray-3);
}
