.Container {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  padding-left: 2px;
  flex: 1 1 0%;
  letter-spacing: -0.02rem;
}

.ColumnContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.FlexContainer {
  display: flex;
  min-width: 32px;
}

.TextContent {
  font-style: italic;
  color: inherit;
}

/* Reference */

.TreeNodeReference {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.TreeNodeReference .PillContainer {
  display: flex;
  width: 100%;
  position: relative;
}

.TreeNodeReference .Pill {
  position: relative;
  padding: 0 4px;
  margin-left: -4px;
  height: calc(100% - 2px);
  max-width: calc(100% - 24px);
  border: 0.5px solid var(--teal-7);
  border-radius: 4px;
  color: var(--gray-12);
  cursor: pointer;
}

/*
Tooltip
*/
.TreeNodeReference .Pill::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 4px;
  background-color: var(--gray-1);
  color: var(--gray-10);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: var(--font-size-mini);
  width: max-content;
  max-width: 400px;
  white-space: pre-line;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s 0.3s,
    visibility 0.2s 0.3s;
  z-index: 50;
  box-shadow: var(--shadow-sm);
  border: 0.5px solid var(--gray-6);
  pointer-events: none;
}

.TreeNodeReference .Pill.ShowTooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.TreeNodeReference .Pill.ShowTooltip:has(.EditButton:hover)::after {
  opacity: 0;
  visibility: hidden;
}

.TreeNodeReference .Pill.Expanded {
  border: 0.5px solid var(--teal-8);
}

.TreeNodeReference .EditButton {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0.5;
  transition:
    opacity 0.1s ease-in-out,
    visibility 0.1s ease-in-out;
}

.TreeNodeReference.PillContainer:hover .EditButton {
  opacity: 0.5;
  visibility: visible;
}

.TreeNodeReference.PillContainer:hover .EditButton:hover {
  opacity: 1;
}

.TreeNodeReference .Pill.Editor {
  background-color: var(--teal-2);
  outline: 1px solid var(--teal-6);
  cursor: text;
}

.Placeholder {
  color: var(--gray-8);
}

.StrikeThrough {
  text-decoration: line-through;
}

/* Styling for Restricted Nodes */
.RestrictedNodeContainer {
  cursor: pointer !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  width: 100%;
  height: 100%;
  min-height: 1.5rem;
  display: flex;
  align-items: center;
}

.RestrictedNode {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 0px 4px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--gray-3);
  cursor: pointer !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
}

.RestrictedNodeContainer:hover .RestrictedNode {
  background-color: var(--gray-5);
  color: var(--gray-12);
}
