.TrailMenuTrigger {
  display: flex;
  align-items: center;
  height: 16px;
  cursor: default;
  margin: 0 4px;
}

.TrailMenuIcon {
  color: var(--gray-8);
  height: 16px;
  background-color: var(--gray-1);
  border-radius: 2px;
}

.TrailMenuIcon:hover {
  color: var(--gray-10);
  background-color: var(--gray-3);
}

.Transparent {
  color: transparent;
}

@media (max-width: 450px) {
  .Transparent {
    color: var(--gray-8);
  }
}
