/* increasing specificity here to everride Button primitive but maybe I should make a custom button variant for this one */
.RelationComboboxLabel.RelationComboboxLabel {
  border: none;
  z-index: 10;
  font-size: 16px;
  gap: 2px;
  padding: 0;
  margin: 0;
  color: var(--gray-9);
}

.RelationComboboxLabel.RelationComboboxLabel:disabled {
  opacity: 1;
}

.RelationComboboxLabel.RelationComboboxLabel svg {
  transform: translateY(1px) scale(0.9);
}

.RelationComboboxInput {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 2px 4px 3px 4px;
  border-radius: 4px;
  width: 100%;
  background-color: var(--teal-1);
  border-bottom: 0.5px solid var(--teal-4);
}

.RelationComboboxInputContent {
  display: flex;
  align-items: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: 100%;
  background-color: var(--teal-1);
  color: var(--teal-11);
}

.RelationComboboxGroup {
  overflow-y: scroll;
  max-height: 256px;
  padding-top: 4px;
}

.RelationComboboxGroup::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.RelationComboboxGroup {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.RelationComboboxItem {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 4px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--gray-11);
}

.Selected {
  background-color: var(--teal-2);
  color: var(--teal-11);
}

.SelectedIcon {
  opacity: 100%;
}

.Transparent {
  opacity: 0;
}