.RelatedObjectContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.RelatedObjectContent {
  display: flex;
  align-items: start;
  position: relative;
  min-height: 32px;
  padding-top: 3px;
}

/* 
Left Area 
*/

.RelatedObjectLeftArea {
  position: absolute;
  height: 100%;
  width: 100px;
  right: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RelatedObjectLeftHandler {
  display: flex;
  align-items: center;
  position: absolute;
  right: 100%;
  height: 24px;
}

.RelatedObjectActions {
  display: flex;
  align-items: center;
  gap: 1px;
}

/* 
Bullet
*/

.RelatedObjectBulletContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 24px;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  cursor: pointer;
}

/* Blank Bullets Logic */
.RelatedObjectBulletContainer.Hidden {
  opacity: 0;
}

.RelatedObjectContent:hover .RelatedObjectBulletContainer.Hidden,
.RelatedObjectContent:focus-within .RelatedObjectBulletContainer.Hidden {
  opacity: 0.5;
}
.RelatedObjectContent:focus-within .RelatedObjectBulletContainer.Hidden {
  opacity: 1;
}

/* 
Tooltip
*/
.RelatedObjectBulletContainer::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 4px;
  background-color: var(--gray-1);
  color: var(--gray-10);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: var(--font-size-mini);
  width: max-content;
  max-width: 400px;
  white-space: pre-line;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  z-index: 50;
  box-shadow: var(--shadow-sm);
  border: 0.5px solid var(--gray-6);
}

.RelatedObjectBulletContainer:hover::after {
  opacity: 1;
  visibility: visible;
}

/* 
Bullet
*/

.Bullet {
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  z-index: 10;
}

.BulletShadow {
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  z-index: 0;
}

.DotOutsidePublic {
  stroke: var(--teal-5);
  width: 16px;
  height: 16px;
}

.DotOutsidePrivate {
  stroke: var(--gray-5);
}

.DotInsidePrivate {
  stroke: var(--gray-11);
}

.DotInsidePublic {
  stroke: var(--teal-10);
}

.DotInsideClickToCreateNode {
  stroke: var(--gray-7);
}

.Circle {
  cursor: pointer;
  position: absolute;
  stroke: var(--teal-10);
}

.CirclePrivate {
  stroke: var(--gray-10);
}

.DotInsidePrivate:hover {
  stroke: var(--gray-9);
}

.DotInsidePublic:hover {
  stroke: var(--teal-8);
}

.Bullet:active {
  animation: bulletClick 0.3s ease-in-out;
}

@keyframes bulletClick {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(4);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* 
Node
*/

.RelatedObjectNode {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: 0 0 0 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  align-items: flex-start;
  background-color: transparent;
  position: relative;
  width: 100%;
  color: var(--gray-12);
  border-radius: 4px;
  transition: background-color 0.05s ease-in-out;
}

.RelatedObjectNode::after {
  content: "";
  position: absolute;
  top: 32px;
  left: -8.5px;
  width: 1px;
  height: calc(100% - 32px);
  border: 1px solid transparent;
  border-image: linear-gradient(to top, var(--gray-6) 90%, var(--gray-1) 100%) 1;
  border-image-width: 0 0 0 1px;
}

.RelatedObjectNode.Selected {
  background-color: var(--teal-a3);
}

.RelatedObjectNodeContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 720px;
  gap: 4px;
  align-items: baseline;
}

.ClickToCreateNode,
.Placeholder {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4px;
  align-items: baseline;
  cursor: pointer;
  color: var(--gray-8);
  user-select: none;
  cursor: text;
}

.HoverCardTrigger {
  flex: 1 1 0%;
}

.RelationHoverCard {
  background-color: var(--gray-1);
  padding: 4px 12px;
  border: 0.5px solid var(--gray-3);
  box-shadow: var(--shadow-lg);
  border-radius: 4px;
  z-index: 50;
}

/* 
Right Area 
*/
.RelatedObjectRightArea {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Pin Icon of each bullet */
.PinToggle {
  cursor: pointer;
  position: relative;
}
.PinToggle::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 0;
  left: -4px;
  transform: translateX(-100%);
  background-color: var(--gray-1);
  color: var(--gray-10);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: var(--font-size-mini);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0.5s, visibility 0.3s 0.5s;
  z-index: 1;
  box-shadow: var(--shadow-sm);
  border: 0.5px solid var(--gray-6);
  pointer-events: none;
}

.PinToggle {
  transition: opacity 0.3s;
}

.PinToggle:hover::before {
  transition-delay: 0.5s;
}

.PinToggle:hover::before {
  opacity: 1;
  visibility: visible;
}

.PinIcon {
  /* TODO: Fix adress sizing from the SVG side */
  transform: scaleX(-1) scale(0.8) translate(-1px, 1px);
}

.RelatedObjectContent:hover .PinToggle {
  opacity: 1;
}

.PinToggle.Pinned {
  color: var(--teal-8);
}

.PinToggle.Unpinned {
  color: var(--gray-8);
}

.PinToggle.Hidden {
  transition: opacity 0.1s ease-in-out;

  opacity: 0;
}

.RelatedObjectContent:hover .PinToggle.Hidden {
  opacity: 1;
}

.PinIcon {
  /* TODO: Fix adress sizing from the SVG side */
  transform: scaleX(-1) scale(0.8) translate(-1px, 1px);
}

.RelatedObjectContent:hover .PinToggle {
  opacity: 1;
}

.PinToggle.Pinned {
  color: var(--gray-8);
}

.PinToggle.Unpinned {
  color: var(--gray-8);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.PinToggle.Pinned:hover {
  color: var(--tomato-9);
  background-color: var(--tomato-2);
}

.PinToggle.Unpinned:hover {
  color: var(--teal-9);
  background-color: var(--teal-2);
}

.RelatedObjectPublic {
  padding: 0 0;
  color: var(--teal-7);
  background-color: var(--gray-1);
}

.RelationCounter {
  position: relative;
  align-self: flex-start;
  width: 16px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--gray-3);
  color: var(--gray-9);
  font-size: var(--font-size-mini);
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}

.RelatedObjectInputSuffix {
  display: flex;
  flex: 1;
  align-self: stretch;
  align-items: center;
  background: transparent;
  outline: none;
  border: none;
  width: 0;
  min-height: 100%;
}
