.RelatedObjectContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.RelatedObjectContent {
  display: flex;
  align-items: start;
  position: relative;
  min-height: 32px;
  padding-top: 3px;
}

/* 
Left Area 
*/

.RelatedObjectLeftArea {
  position: absolute;
  height: 100%;
  width: 100px;
  right: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RelatedObjectLeftHandler {
  display: flex;
  align-items: center;
  position: absolute;
  right: 100%;
  height: 24px;
  padding-right: 2px;
}

.RelatedObjectLeftClickArea {
  position: absolute;
  right: 100%;
  width: 400px;
  height: 100%;
  cursor: text;
  z-index: 1;
}

.RelatedObjectActions {
  display: flex;
  align-items: center;
  gap: 1px;
  position: relative;
  z-index: 2;
}

/*
Loading spinner
*/

.LoadingSpinner {
  display: inline-block;
  line-height: 1;
  height: 16px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.LoadingSpinner svg {
  animation: spin 1s linear infinite;
}

/* 
Bullet
*/

.RelatedObjectBulletContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 24px;
  transition: opacity, scale 0.2s ease-in-out;
  opacity: 1;
  cursor: default;
}

.RelatedObjectBulletContainer:hover .Bullet {
  color: var(--teal-11);
  scale: 1.5;
  opacity: 1;
}

/* Blank Bullets Logic */
.RelatedObjectBulletContainer.Hidden {
  opacity: 0;
}

.NoteContentSection:hover .NoteContentRootBullet {
  opacity: 0.5;
}

.NoteContentRootBullet {
  opacity: 0;
}

.RelatedObjectContent:hover .RelatedObjectBulletContainer.Hidden {
  opacity: 0.5;
}

.RelatedObjectContent:focus-within .RelatedObjectBulletContainer.Hidden {
  opacity: 1;
}

/* .RelatedObjectContent:focus-within,
.NoteContentSection .RelatedObjectContent .RelatedObjectBulletContainer {
  opacity: 1;
} */

/* .NoteContentSection:focus-within
  .NoteContentSection
  .RelatedObjectContent:focus-within
  .RelatedObjectBulletContainer.Hidden {
  opacity: 0;
} */

/* 
Tooltip
*/
.RelatedObjectBulletContainer::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 4px;
  background-color: var(--gray-1);
  color: var(--gray-10);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: var(--font-size-mini);
  width: max-content;
  max-width: 400px;
  white-space: pre-line;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s 0.3s, visibility 0.2s 0.3s;
  z-index: 50;
  box-shadow: var(--shadow-sm);
  border: 0.5px solid var(--gray-6);
}

.RelatedObjectBulletContainer:hover::after {
  opacity: 1;
  visibility: visible;
}

/* 
Bullet
*/

.Bullet {
  cursor: default;
  position: absolute;
  width: 16px;
  height: 16px;
  z-index: 10;
}

.DotInsideClickToCreateNode {
  stroke: var(--gray-7);
}

.Bullet:active {
  animation: bulletClick 0.3s ease-in-out;
}

@keyframes bulletClick {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(4);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*
Set root button
*/

.SetRootButton {
  border: none;
  width: 15px;
  height: 24px;
  color: transparent;
  user-select: none;
  position: relative;
  margin-right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: default;
}

.Hovered {
  color: var(--gray-8);
  fill: var(--gray-8);
  stroke: var(--gray-8);
}

.SetRootButton:hover {
  background-color: var(--gray-3);
}

.SetRootIcon {
  width: 11px;
  height: 11px;
}

.SetRootButton:hover .SetRootIcon {
  stroke: var(--gray-10);
}

/* 
Node
*/

.RelatedObjectNode {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: 0 0 0 4px;
  margin-right: 4px;
  margin-bottom: 0px;
  align-items: flex-start;
  background-color: transparent;
  position: relative;
  width: 100%;
  color: var(--gray-12);
  border-radius: 4px;
  transition: background-color 0.05s ease-in-out;
}

.RelatedObjectNode.Selected {
  background-color: var(--teal-a3);
}

.RelatedObjectNodeContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 720px;
  gap: 4px;
}

.ClickToCreateNode,
.Placeholder {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4px;
  align-items: baseline;
  cursor: pointer;
  color: var(--gray-8);
  user-select: none;
  cursor: text;
}

.HoverCardTrigger {
  flex: 1 1 0%;
}

.RelationHoverCard {
  background-color: var(--gray-1);
  padding: 4px 12px;
  border: 0.5px solid var(--gray-3);
  box-shadow: var(--shadow-lg);
  border-radius: 4px;
  z-index: 50;
}

/* 
Right Area 
*/
.RelatedObjectRightArea {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Pin Icon of each bullet */
.ObjectRightToggle {
  position: relative;
  transition: opacity 0.3s;
}

.ObjectRightToggle::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 0;
  left: -4px;
  transform: translateX(-100%);
  background-color: var(--gray-1);
  color: var(--gray-10);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: var(--font-size-mini);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0.5s, visibility 0.3s 0.5s;
  z-index: 5;
  box-shadow: var(--shadow-sm);
  border: 0.5px solid var(--gray-6);
  pointer-events: none;
}

.ObjectRightToggle:hover::after {
  transition-delay: 0.5s;
  opacity: 1;
  visibility: visible;
}

.PinIcon {
  /* TODO: Fix adress sizing from the SVG side */
  z-index: 3;
  transform: scaleX(-1) scale(0.8) translate(-1px, 1px);
}

.CopyURLIcon {
  z-index: 3;
  transform: scaleX(-1) scale(0.8) translate(-1px, 1px);
}

.CopyURLIcon svg {
  stroke: var(--gray-9);
}

.CopyURLIcon svg {
  stroke: var(--gray-9);
}

.ObjectRightToggle:hover svg {
  stroke: var(--teal-9);
}

.RelatedObjectContent:hover .ObjectRightToggle {
  opacity: 1;
}

.ObjectRightToggle.Pinned {
  color: var(--teal-8);
}

.CopyURLButton {
  color: var(--gray-8);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.ObjectRightToggle.CopyURLButton:hover {
  color: var(--teal-9);
  background-color: var(--teal-2);
}

.ObjectRightToggle.Unpinned {
  color: var(--gray-8);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.ObjectRightToggle.Hidden {
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
}

.ObjectRightToggle.Pinned:hover {
  color: var(--tomato-9);
  background-color: var(--tomato-2);
}

.ObjectRightToggle.Unpinned:hover {
  color: var(--teal-9);
  background-color: var(--teal-2);
}

.RelatedObjectPublic {
  padding: 0 0;
  color: var(--teal-7);
  background-color: var(--gray-1);
}

.RelatedObjectInputSuffix {
  display: flex;
  flex: 1;
  align-self: stretch;
  align-items: center;
  background: transparent;
  caret-color: var(--gray-12);
  outline: none;
  border: none;
  width: 0;
  min-height: 100%;
}

.RelatedObjectIndicator {
  padding: 0 6px;
  background: var(--gray-2);
  height: 18px;
  position: relative;
  margin-left: 5px;
  border-radius: 4px;
  font-size: var(--font-size-mini);
  color: var(--gray-10);
  width: fit-content;
}

.RelatedObjectRelationsToggle {
  margin: 6px 0 8px -1px;
}

.NoteContentSection .ObjectRightToggle {
  visibility: hidden;
}

.NoteContentSection {
  flex: 1;
  padding: 0 4px 2px 2px;
  margin-left: 13px;
  border: 0.5px solid var(--gray-9);
  border-radius: 4px;
}

.NoteContentSection .RelatedObjectNode {
  padding-left: 8px;
}

.NoteContentSection .RelatedObjectContent {
  padding-top: 0;
}

/* Override for non-hidden bullets outside NoteContentSection */
.RelatedObjectBulletContainer:not(.Hidden):not(.NoteContentSection .RelatedObjectBulletContainer) {
  opacity: 1;
}

.NoteContentSectionHeader {
  padding: 12px 0px 12px 4px;
}

.NoteContentSuffix {
  display: flex;
  flex: 1;
  align-self: stretch;
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  min-height: 100%;
  cursor: text;
  caret-color: var(--gray-12);
  position: absolute;
  bottom: 0;
  left: -3px;
  z-index: 1;
}

.NoteContentPrefix {
  display: flex;
  flex: 1;
  align-self: stretch;
  background: transparent;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  cursor: text;
  caret-color: var(--gray-12);
  z-index: 1;
}

.HeaderInListView {
  padding: 4px 20px;
}

.NoteContentSection.ChildOfRootInNoteView {
  border: none;
  padding: 0 4px;
  margin: 0 0 0 -8px;
}

.NoteContentSection.ChildOfRootInNoteView::before {
  border: none;
}

.NoteContentSection.ChildOfRootInNoteView .RelatedObjectNode {
  padding-left: 4px;
}

.RelationCounter {
  height: 18px;
  width: fit-content;
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  font-size: var(--font-size-mini);
  background-color: var(--gray-2);
  cursor: default;
  color: var(--gray-10);
  user-select: none;
}

.RelationCounter:hover {
  background-color: var(--gray-3);
}

.showTooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -2px;
  left: -45px;
  background-color: var(--gray-1);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: var(--font-size-mini);
  color: var(--gray-10);
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  user-select: none;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s 0.5s, visibility 0.2s 0.5s;
  z-index: 5;
  box-shadow: var(--shadow-sm);
  border: 0.5px solid var(--gray-6);
}

.showTooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.ElbowArrow {
  color: var(--gray-8);
  position: absolute;
  left: -40px;
  top: 2px;
}

.NoteContentBullet {
  opacity: 0;
}

.RelatedObjectContent .NoteContentRootBullet {
  opacity: 1;
}

.RelatedObjectContent .RelatedObjectBulletContainer.HasChildren {
  opacity: 1;
}

.RelatedObjectContent:hover .NoteContentBullet:has(+ .RelatedObjectNode:has(.RelatedObjectContainer)),
.RelatedObjectContent:hover .NoteContentRootBullet,
.RelatedObjectContent:focus-within .NoteContentBullet:has(+ .RelatedObjectNode:has(.RelatedObjectContainer)),
.RelatedObjectContent:focus-within .NoteContentRootBullet {
  opacity: 1;
}
