.Container {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  flex: 1 1 0%;
  letter-spacing: -0.02rem;
}

.ColumnContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.FlexContainer {
  display: flex;
  min-width: 32px;
}

.TextContent {
  font-style: italic;
  color: inherit;
}

/* Reference */

.TreeNodeReference {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.TreeNodeReference .PillContainer {
  display: flex;
  width: 100%;
  position: relative;
}

.TreeNodeReference .Pill {
  position: relative;
  padding: 0 4px;
  height: calc(100% - 2px);
  max-width: calc(100% - 24px);
  border: 0.5px solid var(--teal-7);
  border-radius: 4px;
  color: var(--gray-12);
  cursor: pointer;
}

.TreeNodeReference .Pill.Expanded {
  border: 0.5px solid var(--teal-9);
}

.TreeNodeReference .EditButton {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0.5;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

.TreeNodeReference.PillContainer:hover .EditButton {
  opacity: 0.5;
  visibility: visible;
}

.TreeNodeReference.PillContainer:hover .EditButton:hover {
  opacity: 1;
}

.TreeNodeReference .Pill.Editor {
  background-color: var(--teal-2);
  outline: 1px solid var(--teal-6);
  cursor: text;
}

.TreeNodeReference input {
  display: flex;
  flex: 1 ;
  align-self: stretch;
  align-items: center;
  background: transparent;
  outline: none;
  border: none;
  width: 0;
  min-height: 100%;
}

.Placeholder {
  color: var(--gray-8);
}
