.ReplaceRelatedDropdown {
  margin-left: 0;
  flex: 1 1 0%;
}

.ReplaceRelatedDropdownContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.ReplaceRelatedInput {
  padding: 8px 0;
  height: 24px;
  outline: none;
  background-color: var(--gray-1);
  border-radius: 4px;
  color: var(--teal-9);
}

.ReplaceRelatedInput::placeholder {
  color: var(--gray-7);
}

.ReplaceRelatedContent {
  position: absolute;
  top: 23px;
  left: 0;
  padding: 8px 4px 4px 4px;
  width: fit;
  max-width: 380px;
  background-color: var(--gray-1);
  border: solid 0.5px var(--teal-5);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: rgba(0, 0, 0, 0.067) 0px 3px 8px, rgba(0, 0, 0, 0.067) 0px 2px 5px, rgba(0, 0, 0, 0.067) 0px 1px 1px;
}

.ReplaceRelatedLabel {
  padding: 0 8px;
  text-transform: uppercase;
  font-size: var(--font-size-mini);
  color: var(--gray-9);
  pointer-events: none;
}

.ReplaceRelatedItem {
  padding: 4px 8px;
  border-radius: 4px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.ReplaceRelatedItemSelected {
  background-color: var(--gray-3);
}

.NoResults {
  padding: 0px 8px 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}